<div{{ attributes.addClass('download_section', 'section') }}>
  <div class="download_section_wrap">
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
