<div{{ attributes.addClass('socials_section', 'section') }}>
  <div class="socials_wrap">
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
