{% for item in items %}
  <div{{ attributes }}><a href="{{ item.content }}" class="download_btn"><span>{{ item.content|render|striptags|trim|split('.')|last }}</span><i class="fas fa-cloud-download-alt"></i></a></div>
{% endfor %}
